<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <div id="content">
            {{#each projects}}
                {{>project project=.}}
            {{/each}}
        </div>
    </body>
</html>